
html body{height: 100%;
          width: 100%;}
   body{display: flex;
        justify-content: center;
        align-items: center;
         background-color: cadetblue;
    }
  #container{height: 300px;
           width: 200px;
           border-radius: 20px;
           border-style:solid ;
           background-color: azure;
           justify-content: center;
           align-items: center;
           position: relative;
           overflow:hidden;
           } 
#pic{object-fit: cover;
    object-position:top ;
        height: 300px;
      width: 200px;
      border-radius: 20px;
     
      }
      #container i{color: red;
                   font-size: 50px;
                    top: 50%;
                     left: 50%;
                   position: absolute;
                  transform: translate(-50%,-50%)scale(0);
                opacity: 0;
               transition:  all ease 0.5s;
            }